	<div ng-controller="authenticateCtrl">
		<div class="panConnexion" ng-hide="userconnected">
			Connexion nécessaire : 		
			<input type="text" ng-model="user.username" placeholder="Nom d'utilisateur"><span class="help-inline">(ouistiti)</span>
			<input type="password" ng-model="user.password" placeholder="Mot de passe"><span class="help-inline">(ouistiti)</span>
			<a class="bt-connexion" ng-click="connexion()">[ Connexion ]</a>
			<span>{{erreurs}}</span>
		</div>	
		<div class="panDeconnexion"  ng-show="userconnected">
			Connecté : {{userconnected.username}} <a ng-click="deconnexion()">[ Se déconnecter ]</a>
		</div>
	</div>