<div class="panel-parcours">
	<h1>Parcours</h1>
	<div class="panel-main-parcours">
		<div class="emploi" ng-repeat="emploi in emplois">
			<div ng-repeat="experience in emploi.experiences">
				<h2>{{experience.debut}} - {{experience.fin}}</h2>
				<h3>{{experience.client}} ({{emploi.nom}})</h3>
				<div class="poste">{{experience.poste}}</div>
				<div class="contexte">{{experience.contexte}}</div>
				<div ng-repeat="tache in experience.taches">
					<div class="tache">- {{tache.description}}</div>
				</div>
				<div class="panel-techniques">
					ENVIRONNEMENT TECHNIQUE : {{experience.envtechnique}}
				</div>
			</div>
		</div>
		<div class="formation" ng-repeat="formation in formations">
			<h2>{{formation.titre}}</h2>
			<h3 class="description">{{formation.description}}</h3>
			<div class="etablissement">{{formation.etablissement}}</div>
			<div class="panel-enseignement">ENSEIGNEMENT : {{formation.enseignement}}</div>
		</div>	
	</div>
</div>