// bower:scss
// endbower

.item {
	background-color: black;
	opacity: 0.5;
	padding: 10px;
	margin: 0 0 20px 0;
}

html {
  margin: 0;
  padding: 0;
  background: #3B577F url("../images/G0110941.JPG") no-repeat fixed center center;
}

body {
  background: transparent;
  color: white !important;
  overflow-x: hidden;
}

// h1,h2,h3,h4,h5,h6 {
// 	line-height: 1em !important;
// }

#title {
	margin-bottom: 0; 
	margin-top: 0;
	margin-left: 20px;
	padding-top: 10px;
}

#menu {
	a {
		color: white;
		text-decoration: none;
		outline: none;
	}
	a:hover {
		color: orange;
	}
	.active {
		color: #7FE22E;
	}
}

#menu-phone {
	@extend #menu;
	.first {
		margin-right: 30px;
	}
	height: 200px;
}

#menu-large {
	position: absolute;
	top: 0;
	right: 0;
	@extend #menu;
       div {
               background-color: black;
               opacity: 0.5;
               padding : 15px;
       }
       .first {
               border-radius: 0 0 0 25px;
       }
       .icon-home {
       	height: 16px !important;
	   	width: 17px !important;       	
       }

}

.view {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	top: 180px;
	padding: 15px; 
}

.md-list-item-text h3,h4,h5,h6 {
	color: white !important;
}

.md-list-item-text h3 {
	text-decoration: underline;
	font-weight: bold;
}

md-content {
	background: transparent;
	height: 100%;
	h1,h2,h3,h4,h5,h6,p {
		color: white !important;
	}	
}

.icon-home {
	color: white;
}

.icon-home:hover {
	color: orange;
}

.bt-dl-cv {
	position: absolute;
	top: 10px;
	right: 10px;
}

.experience {
	p, li {
		color: white !important;
	}
	> .title {
		text-decoration: underline;
		font-size: 1.2em !important;
		margin-top: 15px;
	}
	.poste {
		font-style: italic;
	}
	.description {
		font-weight: bold;
		font-size: 1.1em !important;
	}
	.tasks {
		list-style: none;
		margin: 0;
		li {
			font-size: 0.9em;
		}
	}
	.env-technique {
		.title {
			text-decoration: underline;
		}
	}
}

.competence {
	p {
		color: white !important;
	}	
	.title {
		text-decoration: underline;
		font-size: 1.2em !important;
		margin-top: 15px;		
	}
}

.formation {
	p {
		color: white !important;
	}	
	.date {
		text-decoration: underline;
		font-size: 1.2em !important;
		margin-top: 15px;		
	}	
	.school {
		font-style:  italic;
	}
}

@import "responsive";
@import "menu";
@import "animate";
