<div class="panel-championnatList" ng-controller="championnatCtrl">
	<div ng-include src="'assets/app/partials/authenticate.html'"></div>
	<div ng-show="userconnected">	
		<div class="train-database">Championnats</div>
		<div class="alert alert-success" ng-hide="messageSuppression == null">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{messageSuppression}}
		</div>
		<div id="pagination" class="pagination">
			<span class="prev" ng-click='pageDown()'><a ng-class="{disabled: championnats.page.page == 0}">&larr; Précédent</a></span>
			<span class="current"><a>[ Affichage de	{{championnats.page.elementDebutPage}} à {{championnats.page.elementFinPage}} sur	{{championnats.page.nombre}} ]</a></span>		
			<span class="next"	ng-click='pageUp()'><a ng-class="{disabled: championnats.page.page == championnats.page.nbPage -1}">Suivant &rarr;</a></span>
		</div>
	
		<table class="table table-striped table-responsive swipe-horizontal">
			<thead>
				<tr>
					<th class="column-nom"><a href="" ng-click="sort('nom')">Championnats</a>
						<input type="search" id="searchboxNom" name="f" value="" autocomplete="off"
						placeholder="Filtre" ng-model="searchboxNom" ng-change='searchNom()'>
					</th>
					<th class="column-nom-complet"></th>
					<th class="column-drapeau"><a href="" ng-click="sort('pays.nom')">Pays</a> <input
						type="search" id="searchboxPays" name="f" value="" autocomplete="off"
						placeholder="Filtre" ng-model="searchboxPays"
						ng-change='searchPays()'></th>
					<th class="column-creation">Date de création</th>	
					<th class="column-site">Site officiel</th>	
					<th class="column-clubs"><a href=""></a></th>
					<th class="column-delete"><a href=""></a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="championnat in championnats.liste" class="ligne-database">
					<td class="column-nom"><img ng-src="getImage?c={{championnat.logo}}"
						class="logo-table" /> </td>
					<td class="column-nom-complet">{{championnat.nom}}</td>
					<td class="column-drapeau"><img alt="{{championnat.pays.nom}}" class="logo-table"
						ng-src="getImage?c={{championnat.pays.drapeau}}" /></td>
					<td class="column-creation">{{championnat.creation}}</td>
					<td class="column-site"><span title="{{championnat.site}}"><a href="{{championnat.site}}" target="blank">{{championnat.site|truncateText:20}}</a></span></td>	
					<td class="column-clubs"><a href="#/technos?rub=database/clubList&championnatId={{championnat.id}}">Clubs</a></td>
					<td class="column-delete"><button ng-click="supprimer(championnat)" class="btn btn-danger">Supprimer</button>
					</td>
				</tr>
			</tbody>
			<tfoot ng-hide="championnats.page.nombre > 0">
				<tr>
					<td>
						<span class="aucunResultTable">Aucun résultat</span>
					</td>
					<td></td><td></td><td></td>
				</tr>
			</tfoot>
		</table>
	</div>	
</div>