.panel-database {
	.pan-bt-acces-database {
		text-align: center;
		margin-top : 50px;
	}
}

.panel-championnatList, .panel-clubList {
	.panConnexion {
	  a {
			margin-left: 18px;
		}
	}
	
	.train-database {
		text-align: right;		
	}
		
	.pagination {
		text-align: center;
		margin-bottom: 40px;
	}
	
	.table {
		.column-drapeau {
			text-align: center;
		}
	}
}

/* Responsive */

@media (max-width: 1600px) and (min-width: 900px) {
	.panel-championnatList {
		.column-site {
			visibility: hidden;
			display: none !important;
		}
	}
	
	.panel-clubList {
		.column-siege, 
		.column-creation,
		.column-noms {
			visibility: hidden;
			display: none !important;
		}	
	}
}

@media (max-width: 1400px) and (min-width: 900px) {
	
	.panel-championnatList {
		.column-creation {
			visibility: hidden;
			display: none !important;
		}
	}
	
	.panel-clubList {	
		.column-premiere-saison, 
		.column-nombre-titres,
		.column-surnoms,
		.column-couleurs
		 {
			visibility: hidden;
			display: none !important;
		}
	}
}

@media (max-width: 1000px) and (min-width: 900px) {
	.panel-championnatList, .panel-clubList {
		.column-nom-complet {
			display: none !important;
			visibility: hidden;
		}	
	}
}
