@charset "utf-8";

.diapo.ng-animate {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
     
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
  
.diapo.ng-enter {
	top: -100%;
}

.diapo.ng-enter.ng-enter-active {
	top: 0;
}

.diapo.ng-leave {
	top: 0;
}

.diapo.ng-leave.ng-leave-active {
	top: 100%;
	opacity: 0;
} 
