@charset "utf-8";
/* Durée de l'animation */
 .view.ng-enter, .view.ng-leave {
   transition: opacity 1s, transform 0.5s, width 0.5s;  
   position:absolute;  
} 
 
/* Au démarage */
 .view.ng-enter {
  opacity: 0;
  transform: translateY(-20px);
  width: 85% !important;
} 
 
/* Fin de l'animation d'entrée */
 .view.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0px);
} 
 
/* Fin de l'animation de sortie */
 .view.ng-leave.ng-leave-active {
   opacity: 0;  
   transform: translateY(20px);
    width: 85% !important;
} 
