<div class="panel-database">
	<p>
		Ceci est un exemple d'application de gestion.
		Il permet de visualiser les informations de différents championnats
		européens de Football. J'ai utilisé les outils fournis par Play!
	</p>
	<p>Retrouvez les explications techniques dans la rubrique: <a href="#/technos?rub=site">Comment est fait ce site ?</a></p>
	<p>Afin de montrer les posisibilités de sécurité, vous devez vous connecter pour voir cet exemple. 
	   Les paramètres de connexion sont indiqués à coté des champs du formulaire.</p>
	<div class="pan-bt-acces-database">
		<a href="#/technos?rub=database/championnatList">[ Accéder à l'exemple ]</a>
	</div>   
</div>