
<div class="panel-main-technos-explications">
	<P>Comme je l'ai expliqué en préambule, ce site est mon cv en ligne
		mais c'est surtout un laboratoire que j'utilise pour expérimenter les
		technologies de développement web. Dans cette partie, je vais essayer
		d'expliquer techniquement certaines parties intéressantes du
		développement aussi bien côté serveur que côté client.</p>
	<p>Vous trouverez des exemples de développement de clients web riches: les websockets, HTML5 / javascript / Ajax et
		la gestion de données provenant d'une base.
</div>
