// ---------------------------------------------------------------------------
// Units

$unit: 20px;
$subunit: 5px;

// ---------------------------------------------------------------------------
//pourcentage

$dixpourcent : 10%;
$vingtpourcent : 20%;
$trentepourcent : 30%;
$quarantepourcent : 40%;
$cinquantepourcent : 50%;
$soixantepourcent : 60%;
$soixantedixpourcent : 70%; 
$quatrevingtpourcent : 80%;
$quatrevingtdixpourcent : 90%;
$centpourcent : 100%;

// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/reset";
@import "compass/typography/links/link-colors";
@import "blueprint/colors";
@import "blueprint/buttons";

@import "table";
@import "colors";
@import "font";
@import "susy";
@import "tiles";
@import "glyphicons";
@import "googlecode";
@import "animate/animate_view";
@import "animate/animate_menu";
@import "animate/animate_rub_parcours";
@import "animate/animate_presentation_slider";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns: 10;
$column-width: 72px;
$gutter-width: 20px;
$grid-padding: 10px;

$container-style: fluid;


