@charset "utf-8";

.place-left {float: left !important; margin-right: 10px;}
.place-right {float: right !important; margin-left: 10px;}

.scroll-y, .scroll-vertical {
    overflow-y: scroll;
}
.scroll-x, .scroll-horizontal {
    overflow-x: scroll;
}

.pos-rel {position: relative;}
.pos-abs {position: absolute;}
.pos-fix {position: fixed;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.no-overflow {overflow: hidden;}
.no-display {display: none;}
.no-margin {margin: 0;}
.no-padding {padding: 0;}
.no-border {border: 0;}
.no-border-all {
    border: 0;
    * {
        border: 0;
    }
}
.as-block {display: block; float: none !important;}
.as-inline-block {display: inline-block;}

.nlm {margin-left: 0 !important;}
.nrm {margin-right: 0 !important;}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

.padding5 {padding: 5px;}
.padding10 {padding: 10px;}
.padding15 {padding: 15px;}
.padding20 {padding: 20px;}
.padding30 {padding: 30px;}
.padding40 {padding: 40px;}
.padding80 {padding: 80px;}

.selected {
    border: 4px $blue solid;

    &:after {
        width: 0;
        height: 0;
        border-top: 40px solid $blue;
        border-left: 40px solid transparent;
        position: absolute;
        display: block;
        right: 0;
        content:".";
        top: 0;
        z-index: 1001;
    }

    &:before {
        position: absolute;
        content: "\e08a";
        color: #fff;
        right: 4px;
        font-family: iconFont;
        z-index: 1002;
    }
}

.border {
    border: 1px #ccc solid;
}
