
$tileSmall: 150px;
$tileLarge: 310px;
$tileMargin: 5px;
$tileDouble: $tileSmall * 2 + $tileMargin * 2;
$tileTriple: $tileSmall * 3 + $tileMargin * 4;
$tileQuadro: $tileSmall * 4 + $tileMargin * 6;


.tile-group {
    margin: 0;
    margin-right: $unit * 4;
    float: left;
    width: auto;
    height: auto;
    min-height: 1px;
    width: 802px;
}

.tile {
    display: block;
    float: left;
    background-color: $grayDark;
    width: $tileSmall;
    height: $tileSmall;
    cursor: pointer;
    text-decoration: none;
    color: $white;
    @extend .no-overflow;
    @extend .pos-rel;
    @extend #font.normal;
    margin: 0 10px 10px 0;
    overflow: hidden;


    .offset1tile {
        margin-left: $tileSmall + $tileMargin *2;
    }
    
    .upset1tile {
        margin-top: -1 * ($tileSmall + $tileMargin *2);
    }
    
    .offset1tile {
        margin-left: $tileDouble + $tileMargin *2;
    }
    
    .upset1tile {
        margin-top: -1 * ($tileDouble + $tileMargin *2);
    }

    * {
        color: $white;
    }

    .tile-content {
        width: 100%;
        height: 100%;
        padding: 0;
        padding-bottom: 30px;
        vertical-align: top;
        padding: 10px 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        @extend .tertiary-text;
        color: $white;
        line-height: 16px;

        &:hover {
            color: $white;
        }

        h1,h2,h3,h4,h5,h6 {
            font-size: 14pt;
        }
        h1,h2,h3,h4,h5,h6,p {
            padding: 0;
            margin: 0;
            line-height: 24px;

            &:hover {
                color: $white;
            }
        }

        p {
            @extend .tertiary-text;
            color: $white;
            line-height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                color: $white;
            }
        }
    }

    &.icon {
        & > .tile-content {
            padding: 0;

            & > img {
                position: absolute;
                width: 64px;
                height: 64px;
                top: 50%;
                left: 50%;
                margin-left: -32px;
                margin-top: -32px;
            }
 
            & > i {
                position: absolute;
                width: 64px;
                height: 64px;
                top: 30%;
                left: 50%;
                margin-left: -32px;
                //margin-top: -32px;
                font-size: 64px;
                -webkit-margin-before: -6px; // Workaround for webkit browsers
            }
        }
    }

    &.double {
        width: $tileDouble;
    }
    &.triple {
        width: $tileTriple;
    }
    &.quadro {
        width: $tileQuadro;
    }
    &.double-vertical {
        height: $tileDouble;
    }
    &.triple-vertical {
        height: $tileTriple;
    }
    &.quadro-vertical {
        height: $tileQuadro;
    }


    .brand, .tile-status {
        @extend .pos-abs;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 30px;
        background-color: transparent;
        @extend .clearfix;

        & > .badge {
            @extend .bottom-right;
            right: 5px;
            margin-bottom: 0;
            color: $white;
            width: 34px;
            height: 28px;
            text-align: center;
            @extend #font.small-subheader;
            padding-top: 3px;
        }

        & > .name {
            @extend .bottom-left;
            margin-bottom: 5px;
            margin-left: 15px;
            @extend #font.tertiary;

            color: $white;
            &:hover {
                color: $white;
            }

            & > [class*=icon-] {
                font-size: 24px;
            }

        }

        & > .icon {
            margin: 5px 15px;
            width: 32px;
            height: 32px;

            & > [class*=icon-] {
                font-size: 32px;
            }

            & > img {
                width: 100%;
                height: 100%;
            }
        }

        & > img ~ .text {
            @extend .pos-abs;
            left: 60px;
            width: auto;
        }

        & > .text {
            position: relative;
            left: 8px;
            top: 5px;
            right: 50px;
            @extend .tertiary-text;
            color: $white;
            line-height: 14px;
            width: 60%;
            padding: 0;
          margin: 0;

            &:hover {
                color: $white;
            }
        }
    }

    &:hover {
        /* outline: 3px #3a3a3a solid; */
    }
}

.tiles {
    &.scale {}
}