<md-content layout-padding>	
	<section ng-repeat="(key, value) in experiences">
		<md-list>
		  <md-list-item class="item md-3-line" ng-repeat="experience in value">
		    <div class="experience md-list-item-text">
		      <p class="title">{{ experience.client }} de {{ experience.begin }} à {{ experience.end }}</p>
		      <p class="poste">{{ experience.poste }}</p>
		      <p class="description">{{ experience.description }}</p>
		      <ul class="tasks" ng-repeat="task in experience.tasks"><li>{{task}}<li></ul>
		      <p class="env-technique"><span class="title">Environnement technique :</span> {{experience.technical}}</p>
		    </div>
		  </md-list-item>
		</md-list>
	</section>
</md-content>
