<md-content layout-padding>	
	<div layout="row" flex layout-align="center center" ng-show="loading">
		<div>
			<md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>			
		</div>
	</div>	
	<md-list>
	  <md-list-item class="item smd-3-line" ng-repeat="item in formation">
	    <div class="formation md-list-item-text">
	      <p><span class="date">{{ item.date }}</span> - <span class="school">{{ item.school }}</span></p> 
	      <p class="name">{{ item.name }}</p>
	    </div>
	  </md-list-item>
	</md-list>
</md-content>